body {
    font-family: Courier New, sans-serif;
    margin: 0;
    background: #f0f8ff;
    color: #f5f5f5;

    /* Full Screen Background image fixed on screen !!!*/
    background: url(images/photo1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Main */

.main {
    text-align: center;
    padding: 3em 0;
    height: 70vh;
}

.main p {
    font-size: 22px;
}

/*  Recipes */

.recipe-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 1em;
}

.recipe p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    padding-top: 1em;
}

.recipe img {
    width: 90%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

/*  Contact Form    */


.contact {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
}

#contact-title {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

.contact-form {
    padding: 2em;
}

input,
textarea,
button {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.contact button {
    background-color: rgb(163, 71, 0);
    border: none;
    color: white;
    font-family: 'Courier New', serif;
    transition: 0.3s;
}

.contact button:hover {
    background-color: rgb(139, 63, 5);
    color: white;
    cursor: pointer;
}

.contact-info {
    padding: 2em;
}

.contact-info table {
    border-collapse: collapse;
    width: 100%;
}

.contact-info td {
    border: 1px solid white;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

/* Remove outer borders */
.contact-info tr:first-child td {
    border-top: none;
}
.contact-info tr:last-child td {
    border-bottom: none;
}
.contact-info tr td:first-child {
    border-left: none;
}
.contact-info tr td:last-child {
    border-right: none;
}



@media screen and (min-width: 768px) {

    /*  Main    */
    .main {
        color: #fff;
        width: 100%;
        height: 65vh;
        text-align: center;
        margin-top: 5em;
    }

    main p {
        text-align: center;
        margin: 10px 0 10px 0;
    }

    .welcome {
        font-family: "Cal Sans", sans-serif;
        font-style: normal;
        vertical-align: middle;
    }

    .welcome p {
        font-size: 32px;
    }

    /*      Recipes     */

    .recipe-container {
        /* display: flex;
        flex-direction: column; */
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        margin: 10em auto 5em auto;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.8); /* Μαύρο με 80% αδιαφάνεια */
    }

    .recipe {
        margin: auto;
        width: 80%;
        text-align: center;
    }

    .recipe p {
        color: white;
        font-size: 26px;
        font-weight: bold;
    }

    .recipe img {
        width: 50%;
    }

    .recipe ul {
        /* width: 50%; /*Δημιουργεί πρόβλημα στο background image*/
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {

    /*  Main    */

    .main {
        height: 75vh;
    }

    /* Recipe   */

    .recipe-container {
        width: 60%;
        margin: 7em auto 5em auto;
    }

    /*  Contact Form    */

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-form {
        padding: 2em;
        width: 50%;
    }

    input,
    textarea,
    button {
        width: 100%;
        padding: 1em;
        margin: 0.5em 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
    }

    .contact button {
        background-color: rgb(163, 71, 0);
        border: none;
        color: white;
        font-family: 'Courier New', serif;
    }


    .contact-info {
        padding: 2em;
        width: 50%;
    }

    .contact-info table {
        border-collapse: collapse;
        width: 100%;
    }

    .contact-info td {
        border: 1px solid white;
        padding: 1em;
    }


}
